@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

body {
    /* vertical and horizontal alignment   */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
 background: rgb(194,224,242);
background: linear-gradient(188deg, rgba(194,224,242,1) 0%, rgba(66,119,140,1) 100%); 

  font-family: "Switzer Regular";
  color: #d5e7f1;
}

section {
  /* basic styling   */
  padding: 30px 60px 30px 55px;
  margin: 30px;
  
  display: grid;
  grid-template: 60px 20px 20px 20px 20px/ 30px 300px 1px 124px;
  gap: 15px;
  
  /* change if you like */
 
background: rgb(1,24,38);
background: linear-gradient(338deg, rgba(1,24,38,1) 0%, rgba(34,68,89,1) 100%);
  border-radius: 20px;
 box-shadow: 0 3px 10px rgba(66,119,140,.5);
  
  transition: scale 0.1s ease;
}

section:hover {
  scale: 1.04;
}


div {
  display: flex;
  align-items: center;
  
  grid-area: 2 / 2 / span 3 / 2;
}



data {
  /* remove or change value to `inline-block`   */
  display: block;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size:2.5em;
  
  margin: 0;
  padding: 0;
  
 grid-area: 1 / 1 / span 1 / span 2;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 5em;
  
  margin: 0;
  padding: 0;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  
  padding: 0;
  margin: 0;
}

.humidity {
  grid-area: 2 / 4 / 2 / 4;
}

.feelslike {
  grid-area: 3 / 4 / 3 / 4;
}
